{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>AirBnB Optimization</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <!-- Bootstrap JS Files -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Chart.js Files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js"></script>
  <!-- Bootrsap Select Files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
  <script>
    // Passes along data from Django SQLite DB to JavaScript files
    var data = {{listing | safe}}
  </script>
  <script type="text/javascript" src="{% static 'js/chart_data.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/charts.js' %}"></script>
</head>

<body>
  <!-- Bootstrap jumbotron header -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">AirBnB Optimizer</h1>
      <p class="lead">Maximize Your AirBnB Hosting Revenue with Data Analyis!</p>
    </div>
  </div>
  <!-- Welcome text, instructions, and Lat Long inputs -->
  <div class="container-fluid bottom-margin">
    <div class="row text-center card-container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome! Please enter a latitude and longitude <strong>or</strong> <i>drag</i> the pin around on the map below to get a price per night suggestion for your location</h2>
        </div>
      </div>
      <div class="row col-md-12">
        <div class="input-group input-group-lg col-md-4 input-margins">
          <input id="userLat" type="number" class="form-control" placeholder="Latitude" aria-label="Latitude" aria-describedby="sizing-addon1">
        </div>
        <div class="input-group input-group-lg col-md-4 input-margins">
          <input id="userLong" type="number" class="form-control" placeholder="Longitude" aria-label="Longitude" aria-describedby="sizing-addon1">
        </div>
        <div class="col-md-2 selector-margin">
          <select id="typeSelect" class="col-md-12 form-control float-left">
            <option selected value="Private room">Private Room</option>
            <option value="Entire home/apt">Entire House/Apt</option>
            <option value="Shared room">Shared Room</option>
          </select>
        </div>

        <div class="col-md-2 button-margin">
          <button id="priceButton" type="button" onclick="calculateIdealPrice(400)" class="transition btn btn-primary btn-lg">Suggest Price!</button>
        </div>
      </div>
      <div class="row container-fluid input-margins">

        <div class="col-md-5">
          <h3 id="priceTag" class="float-right">Sugggested Price/Night: $87.11</h3>
        </div>
        <div class="col-md-7">
          <h3 id="revenueTag" class="float-left">Predicted Average Revenue/Week: $609.77</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Price and Density Heatmaps from Google Maps JS API -->
  <div class="row">
    <!-- Left Side -->
    <div class="col-md-6 mb-md-4">
      <div class="col-md-12 map-text text-center mb-md-4 card-container side-text">
        <div>
          <h2 class=""><strong>AirBnB Price Heatmap</strong></h2>
          <h3 class="">Explore San Francisco AirBnB prices with this interactive heatmap</h3>
        </div>
      </div>
      <!-- Price Map gets placed here -->
      <div class="col-md-12 map-card card-container" id="map_price">
      </div>
    </div>
    <!-- Right Side -->
    <div class="col-md-6 mb-md-4">
      <div class="col-md-12 map-text text-center mb-md-4 card-container side-text">
        <div>
          <h2 class=""><strong>AirBnB Location Heatmap</strong></h2>
          <h3 class="">Checkout where there's more AirBnB hotspots</h3>
        </div>
      </div>
      <!-- Density Map gets placed here -->
      <div class="col-md-12 map-card card-container" id="map_density">
      </div>
    </div>
  </div>

  <div class="row title-row">
    <div class="col-md-12 text-center">
      <h1><u>Learn How to Maximize Your Host Review Score</u></h1>
    </div>
  </div>
  <!-- ChartJS Chart/Graph 1 -->
  <div class="row chart-div-size">
    <div class="col-md-6">
      <canvas id="barGraph1" class="chart-container card-container"></canvas>
    </div>
    <div class="col-md-6">
      <h3 class="side-text">Location is an important factor when it comes to your score.  Golden Gate Park is the most well-reviewed neighborhood by a landslide! If your neightborhood tends to be reviewed relatively lower, try to offset this by providing outstanding host service!  Hover over the bar graph to get more location info!</h3>
    </div>
  </div>
  <!-- ChartJS Chart/Graph 2 -->
  <div class="row chart-div-size">
    <div class="col-md-6">
      <h3 class="side-text text-right">Fast responses are super important!  Responding to your messages within the hour is proven to help you get a higher host score.</h3>
    </div>
    <div class="col-md-6">
      <canvas id="barGraph2" class="chart-container card-container"></canvas>
    </div>
  </div>
  <!-- ChartJS Chart/Graph 3 -->
  <div class="row chart-div-size">
    <div class="col-md-6">
      <canvas id="scatterPlot1" class="chart-container card-container"></canvas>
    </div>
    <div class="col-md-6">
      <h3 class="side-text">Recently started hosting and not happy with your score?  Don't worry!  This chart suggests that as time as a host goes on, average host scores tend to improve; keep up the good hosting and you'll eventually have an amazing score!</h3>
    </div>
  </div>

  <!-- Include Google Maps JavaScript API -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiFQ3mhBPg8qQOHpznkrTRRlMmaBPbt_s&libraries=visualization,geometry&callback=initMap">
  </script>
</body>

</html>
