{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>AirBnB Optimization</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
  <script>
    var data = {{listing | safe}}
  </script>
  <script type="text/javascript" src="{% static 'js/chart_data.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/charts.js' %}"></script>
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">AirBnB Optimization</h1>
      <p class="lead">Using data to optimize your hosting!</p>
    </div>
  </div>

  <!-- <div id="floating-panel">
    <button onclick="toggleHeatmap()">Toggle Heatmap</button>
    <button onclick="changeGradient()">Change gradient</button>
    <button onclick="changeRadius()">Change radius</button>
    <button onclick="changeOpacity()">Change opacity</button>
  </div> -->

  <div class="container-fluid bottom-margin">
    <div class="row text-center card-container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome! Please enter a latitude and longitude <strong>or</strong> <i>drag</i> the pin around on the map below to get a price per night suggestion for your location</h2>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="input-group input-group-lg col-md-4 input-margins">
          <input id="userLat" type="number" class="form-control" placeholder="Latitude" aria-label="Latitude" aria-describedby="sizing-addon1">
        </div>
        <div class="input-group input-group-lg col-md-4 input-margins">
          <input id="userLong" type="number" class="form-control" placeholder="Longitude" aria-label="Longitude" aria-describedby="sizing-addon1">
        </div>
        <div class="col-md-2 selector-margin">
          <select id="typeSelect" class="col-md-12 form-control float-left">
            <option selected value="Private room">Private Room</option>
            <option value="Entire home/apt">Entire House/Apt</option>
            <option value="Shared room">Shared Room</option>
          </select>
        </div>

        <div class="col-md-2 button-margin">
          <button id="priceButton" type="button" onclick="calculateIdealPrice(400)" class="transition btn btn-primary btn-lg">Suggest Price!</button>
        </div>
      </div>
      <div class="row container-fluid input-margins">

        <div class="col-md-5">
          <h3 id="priceTag" class="float-right">Sugggested Price/Night: $104.40</h3>
        </div>
        <div class="col-md-7">
          <h3 id="profitTag" class="float-left">Predicted Average Profit/Week: $730.80</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12 map-card card-container" id="map_price">
      </div>
      <div class="col-md-12 map-text text-right">
        <h3 class="side-text">Check out this heatmap on the right to see where there are the most AirBnb's in San Francisco!</h3>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12 map-text">
        <h3 class="side-text">Explore this interactive heatmap (left) of the most expensive AirBnb's in San Francisco!</h3>
      </div>
      <div class="col-md-12 map-card card-container" id="map_density">
      </div>
    </div>
  </div>

  <div class="row title-row">
      <div class="col-md-12 text-center">
        <h1><u>Data Analysis to Help You Maximize Profit!</u></h1>
      </div>
  </div>
  <div class="row chart-div-size">
      <div class="col-md-6">
        <canvas id="myChart1" class="chart-container card-container"></canvas>
      </div>
      <div class="col-md-6">
        <h3 class="side-text">Golden Gate Park is the most well-reviewed neighborhood by a landslide! While location is just one factor in a host's overall score, knowing where your neighborhood stands in comparison to the rest is important.  Hover over the bar graph to get more location info!</h3>
      </div>
  </div>
  <div class="row chart-div-size">
      <div class="col-md-6">
        <h3 class="side-text text-right">As seen in this graph to the right, being on top of responding your messages often leads to a higher host score! Help maximize your bookings by responding to potential lodgers quickly.</h3>
      </div>
      <div class="col-md-6">
        <canvas id="myChart2" class="chart-container card-container"></canvas>
      </div>
  </div>
  <div class="row chart-div-size">
      <div class="col-md-6">
        <canvas id="myChart3" class="chart-container card-container"></canvas>
      </div>
      <div class="col-md-6">
        <h3 class="side-text">Don't have the ideal host score you'd like yet?  Don't worry! This chart suggests that as time as a host goes on, average host scores tend to improve; keep up the good hosting and you'll get that 100/100 eventually!</h3>
      </div>
  </div>


  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiFQ3mhBPg8qQOHpznkrTRRlMmaBPbt_s&libraries=visualization,geometry&callback=initMap">
  </script>
</body>

</html>
